.hero-wrapper {
    background: url(../images/hero.jpg);
    background-color: rgba(23, 36, 50, 0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    top:-180px;
    width: 100%;
    height: 880px;
}